$theme: aqua
$themeDark: #5dc6ca 
$themeDark15: #377a7e2a 
$themeDark2: #5dcab223 
$themeDark3: #5dbdca71 
$lineRight: linear-gradient(to right, #00000000,#5dcab220) 
$lineRight2: linear-gradient(to right, #5dcab23d,#5dcab215) 
$lineBottom: linear-gradient(to bottom, #00000000, #5dcab223) 
$action: #00ffd50a
$inputPlaceholder: #5dc5c0 
$transparent: #30304020 
$loading: #181824a8
$gray1: #1c1c29
$gray15: #242431
$gray2: #272735
$gray25: #242431
$gray3: #262632
$gray35: #282836
$gray4: #303040
$gray5: #343444
$gray6: #383848