.logo
  left: 0px
  right: 0px
  text-align: center
  padding: 15px 0px 15px 0px

a
  text-decoration: none
  font:
    size: 14pt
  color: #fff

.active-page
  background: #83f36788

.horizontal
  flex-direction: row
.vertical
  flex-direction: column