.logo
  left: 0px
  right: 0px
  text-align: center
  padding: 12px 0px 12px 0px

a
  text-decoration: none
  font:
    size: 14pt
  color: $textColor

.disabled
  pointer-events: none
  user-select: none
  background: #404040

.horizontal
  margin: 0px
  display: flex
  flex-direction: row
.vertical
  margin: 0px
  display: flex
  flex-direction: column

.version
  color: $textColor
  font-size: 10pt

.iconotop
  top: 0px !important

.ico, .ico2, .ico3, .ico35, .ico4, .ico5
  cursor: pointer
  display: inline-block
  position: relative
  top: -2px
  width: 18px
  height: 18px
  margin: 0px 5px 0px 5px

.ico3
  width: 25px
  height: 25px
  filter: invert(1)

.ico35
  top: 0px !important
  width: 25px
  height: 25px
  filter: invert(1)

.ico4
  width: 35px
  height: 35px
  filter: invert(1)
.ico5
  width: 45px
  height: 45px
  filter: invert(1)

  
.revert
  filter: invert(0) !important

.content-title
  position: fixed
  left: 200px
  right: 0px
  padding: 10px
  text-align: center
  background: $Accent1

.fancy-input
  margin: 5px 5px
  display: inline-flex
  .margin
    margin: 5px

::-webkit-scrollbar
  width: 6px
  height: 5px

/* Track */
::-webkit-scrollbar-track
  background: $Accent1

/* Handle */
::-webkit-scrollbar-thumb
  background: $Accent2

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: $Accent2tr

.active-page
  background: $lineRight !important

.active-page2
  border-radius: 10px
  background: $lineBottom !important

.without-nav
  top: 40px !important

.loading
  z-index: 100000
  display: flex
  justify-content: flex-start
  align-items: flex-start
  position: fixed
  left: 0px
  right: 0px
  top: 0px
  bottom: 0px

ul
  margin-left: 10px
  list-style-type: none

fieldset
  border-left: 1px solid $Accent2
  border-right: 1px solid $Accent2
  margin: 10px
  border-radius: 10px

.unavailable
  background: $Accent2
  transition: 100ms
  filter: contrast(70%) brightness(70%)
  border-bottom: 1px solid #fc5858
  .name
    border-top: 1px solid #fc5858
    border-left: 1px solid #fc5858
    color: $textColor
  .cost
    border-top: 2px solid #fc5858
  .dishActions
    border-top: 2px solid #fc5858
  &:hover
    filter: contrast(100%) brightness(100%)
  &::after
    z-index: 9999
    position: absolute
    bottom: 20px
    right: 0px
    padding: 5px 10px
    border-radius: 10px 0px 0px 10px
    background: #fc5858
    content: "Отключено!"


.employees-form
  width: auto !important

.spin
  padding: 10px
  width: 55px
  height: 55px

@keyframes spin-anim 
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.weight-choice
  width: 10px !important

.addNewPrinter
  background: $navbar
  width: 100%
  padding: 5px 15px
  border-radius: 10px
  margin-bottom: 10px
  transition: 100ms
  &:hover
    background: $Accent2

.categories-checkboxes
  width: 20px !important
  height: 20px !important

.categories-list
  display: flex
  flex-direction: column
  &>li
    display: flex
    flex-direction: row
    padding: 5px
    align-items: center
    &>span
      position: relative
      top: 2px
      margin-left: 8px

.summary
  width: 600px
  text-align: left
  display: flex
  flex-direction: column



  // &>fieldset
  //   margin: 0px 5px
  //   padding: 5px 0px
  //   background: $navbar
  //   &>button
  //     border-radius: 0px
  //     bottom: 0px
  //     &:disabled
  //       color: $error
  //   & .fields
  //     padding: 0px 0px
  //     border: none
  //     &>*
  //       background: none
  //     &>ul
  //       max-height: 400px 
  //       overflow-y: auto
  //       width: 100%
  //       &>li
  //         display: flex
  //         padding: 10px
  //         &:nth-child(odd)
  //           background: $Accent2tr
  //         &>span
  //           padding-left: 8px 
  //   &>legend
  //     background: $navbar
  //     min-height: 45px
  //     padding: 10px 10px
  //     border-radius: 10px
  //     width: auto !important
  //     text-align: left
  // .fields
  //   &>span
  //     display: flex
  //     align-items: flex-start
  //   &>input:focus, &>input:hover
  //     border-top: none