.img-fill
  float: left
  object-fit: cover
  width: 100% !important
  position: relative !important
  height: unset !important
  max-height: 140px !important
  max-width: 140px !important

.fill
  position: relative
  display: block
  height: 100%
  left: 0px !important
  right: 0px !important

// .left-input, .left-input2
//   vertical-align: middle
//   border-top: 1px solid $themeDark2
//   border-left: 1px solid $themeDark2
//   border-bottom: 1px solid $themeDark2
//   background: $lineRight2
//   padding: 10px
//   border-radius: 10px 0px 0px 10px
// .right-input, .right-input2
//   background: $gray3
//   padding: 10px
//   border-radius: 0px 10px 10px 0px

button, input, select, option, textarea
  background: none
  box-sizing: border-box
  outline: none
  border: 1px solid #00000000
  resize: none
  color: #ccc

select
  height: 40px !important

legend
  margin-left: 10px
  padding: 0px 10px

.bg-1
  background: $gray1
  border-radius: 10px
.bg-2
  background: $gray15
  border-radius: 10px
.bg-3
  background: $gray2
  border-radius: 10px
.bg-4
  background: $gray3
  border-radius: 10px
.bg-5
  background: $gray35
  border-radius: 10px
.bg-6
  background: $gray4
  border-radius: 10px
.bg-7
  background: $gray5
  border-radius: 10px
.bg-8
  background: $gray6
  border-radius: 10px
