@tailwind base
@tailwind components
@tailwind utilities

@import 'themes/dark.sass'
@import 'custom/dialog.sass'

$theme: aqua
$themeDark: #5dc6ca 
$themeLight: #b1fcff 
$themeDark15: #377a7e2a 
$themeDark2: #5dcab223 
$themeDark3: #5dbdca71 
$lineRight: #2bb19454
$lineRight2: #2bb19454
$lineBottom: #2bb19454
$action: #00ffd50a
$inputPlaceholder: #5dc5c0 
$transparent: #30304020 
$loading: #252525be

body
  padding: 0px
  margin: 0px
  background: $Accent1
  color: $textColor
  font:
    family: monospace
    size: 13pt


hr
  margin: 3px
  color: $textColor
  background: #ffffff0a
  border: none
  border-top: 2px outset #ffffff48


.sidebar
  z-index: 10000
  display: flex
  flex-direction: column
  position: fixed
  justify-content: space-between
  height: 100vh
  width: 200px
  background: $navbar
  .sidebar-buttons
    font-size: 14pt
    display: flex
    flex-direction: column
    text-align: left
    .sidebar-button
      border-right: 2px solid #00000000
      border-bottom: 1px #00000000 solid
      transition: 200ms
      padding: 20px 10px 20px 10px

.content
  top: 83px
  right: 0px
  left: 200px
  padding: 0px
  position: absolute
.top
  top: 42px
  left: 0px
.content-title
  z-index: 10001

.login-content
  font-size: 12pt
  z-index: 10003
  display: flex
  justify-content: center
  align-items: center
  background: $Accent1
  position: fixed
  width: 100%
  text-align: center
  height: 100vh

.photo-form
  width: auto !important
.form, .form>div, .account-form
  // width: 500px
  .status
    padding: 10px 0px 10px 0px
    border-radius: 10px 10px 0px 0px
    background: $Accent1
  &>span, .fields>span
    display: flex
    align-items: center
    box-sizing: border-box
    border-bottom: 1px solid $Accent2tr
    background: $Accent1
    padding: 6px
    max-width: max-content
    width: 650px
    min-width: 150px
  .fields
    display: flex
    text-align: left
    &>input
      border-bottom: 1px solid $Accent3
      box-sizing: border-box
      position: relative
      display: block
      height: 40px
      background: $Accent1
      padding: 10px
      width: 100%
      &:hover
        border-top: 1px solid $Accent1
      &:focus
        border-top: 1px solid $Accent1
    &>select
      border-bottom: 1px solid $Accent3
      box-sizing: border-box
      position: relative
      display: block
      background: $Accent1
      padding: 10px
      height: 20px
      width: 100%
  &>fieldset
    border-left: 1px solid $Accent2
    border-right: 1px solid $Accent2
    margin: 10px
    border-radius: 10px
    &>div
      border-top: 1px solid $Accent1
    &>textarea
      width: 100%
      min-height: 300px
  button
    background: $button
    transition: 200ms
    border-radius: 15px
    display: inline-block
    margin: 10px 0px
    padding: 5px
    width: 100%

.add-photo
  display: flex
  justify-content: center
  align-items: center
  padding: 15px
  .photo
    display: flex
    justify-content: center
    align-items: center
    width: 150px
    height: 150px

.account-form
  width: max-content
  display: flex
  font-size: 12pt
  .fields
    &>span:first-child
      display: block
      background: $Accent1
      min-width: 200px
    &>span:last-child
      display: block
      background: $Accent1
      min-width: 400px

.nav, .nav2
  overflow-x: auto
  z-index: 10002
  position: fixed
  left: 200px
  top: 40px
  background: $Accent1
  right: 0px
  height: auto
  height: 40px
  display: flex
  align-items: center
  .nav-page, .nav-page2
    min-width: max-content
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    padding: 5px 20px 5px 20px
    background: $Accent1
    &:hover
      background: $Accent1

.nav2
  background: $Accent1
  top: 80px
  .nav-page2
    background: $Accent1
    
table
  table-layout: auto
  width: 100%
  text-align: left
  border-spacing: 0px
  th
    padding: 10px
  td
    padding: 10px
    border-right: 1px solid $Accent1
    &>a
      font-weight: 600
      transition: 200ms
      &:hover
        color: $textColor
  .actions
    background: $Accent1 !important
    border-right: none
    & .ico
      cursor: pointer
    &>a
      font-weight: 900
      transition: 200ms
      &:hover
        color: $textColor
    
.bubble
  margin: 0px 5px
  padding: 5px
  // background: $gray15
  border-radius: 15px

.menu-body
  margin: 0px 0px 30px 0px !important
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: 1fr
  grid-column-gap: 10px
  grid-row-gap: 30px

.dish-info
  text-align: center

.menu-card
  transition: 100ms
  border-radius: 0px 0px 10px 10px
  &:hover
    cursor: pointer
    transform: scale(1.02)
    img
      transform: scale(0.995)

.menu-card
  top: 20px
  width: 100%
  position: relative
  max-height: 130px
  &>img
    border-radius: 0px 0px 0px 10px
    z-index: 5

.menu-card-info
  border-radius: 0px 0px 10px 0px
  background: $Accent2tr
  padding: 10px
  display: flex
  left: 0px
  right: 0px
  width: 100%
  justify-content: flex-start
  max-height: 130px
  flex-direction: column
  .name
    z-index: 10
    font-weight: 900
    text-align: center
    padding: 5px 0px 5px 0px
    color: $textColor
    background: $Accent2
    border-radius: 10px 10px 0px 0px
    right: 0px
    top: -15px
    left: 0px
    position: absolute
    font-size: 11pt
  .category
    position: relative
    font-size: 10pt
    text-align: center
  .description
    max-height: 105px
    font-size: 10pt
    word-break: break-word
    overflow: hidden
    text-overflow: ellipsis
  .dishActions
    display: flex
    flex-direction: row
    z-index: -1
    transition: 100ms
    opacity: 0
    position: absolute
    top: 0px
    right: 0px
    padding: 10px
    background: $Accent2
    border-radius: 10px
    &>img
      margin: 0px 5px
    .remove:hover, .visibility:hover
      filter: brightness(0) invert(1)
  &:hover
    .dishActions
      top: -10px
      z-index: 1000
      opacity: 1
  .cost
    width: 125px
    z-index: 6
    text-align: center
    padding: 5px 8px 0px 8px
    color: $textColor
    font-weight: 600
    background: $Accent1tr
    border-radius: 0px 20px 0px 8px
    bottom: 0px
    left: 0px
    position: absolute
    font-size: 9pt
    &>span
      color: $textColor

.progress
  position: fixed
  height: 5px
  left: 201px
  background: lightgreen

.steps
  padding: 2px 10px
  margin: 0px 5px
  border-radius: 10px
  background: $Accent2

.menu-waiter
  justify-items: center
  padding: 10px 10px
  grid-auto-columns: 60px
  justify-content: center
  text-align: center
  align-items: center
  margin: 0 auto
  display: grid
  grid-template-columns: repeat(6, 1fr)
  grid-template-rows: 1fr
  grid-row-gap: 10px
  font-size: 15px
  width: 100%
  .menu-waiter-dish
    cursor: pointer
    border-radius: 10px
    position: relative
    width: 220px
    max-height: 250px
    background: $Accent2
    left: 0px
    right: 0px
    &>div>*::selection
      background: none
    &>div>div
      border-radius: 0px 0px 9px 9px
      flex-direction: column
      display: flex
      align-items: center
      justify-content: center
      vertical-align: middle
      background: #000000c0
      z-index: 999
      left: 0px
      bottom: 0px
      width: 100%
      position: absolute
      font-size: 16px
      font-weight: 600
      &>*::selection
        background: none
      .cost
        color: lightgreen
    .cost-full
      display: flex
      background: #000000d0
      border-radius: 9px !important
      top: 0px !important
      // border: 1px solid $themeDark3
      justify-content: space-between
      font-weight: 300
      .cost
        display: none
    &>div>img
      border-radius: 10px
      max-width: 220px !important
      height: 200px !important
      object-fit: cover
      &::selection
        background: none
      
.amount
  pointer-events: none
  z-index: 9999
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  font-size: 30pt
  width: 100%
  height: 100%
  left: 0px
  font-weight: 600
  color: #fff
  padding: 0px 10px 0px 0px
  &>span::selection
    background: none
  &>span
    font-size: 10pt
.remove
  &>img::selection
    background: none
  cursor: pointer
  z-index: 9999
  position: absolute
  width: 100%
  left: 0px
  bottom: 0px
  display: flex
  align-items: flex-end
  font-size: 13pt
  height: auto !important
  padding: 15px 0px
  justify-content: center
  background: radial-gradient(circle at 100%, #00000000, #ff757550, #00000000)


.menu-actions
  position: relative
  left: 0px
  right: 0px
  width: 100% !important
  display: flex
  justify-content: space-between
  align-items: center
  &>button
    right: 30px
    position: absolute
    width: max-content !important
    // border-bottom: 1px solid $Accent2tr
    // border-radius: 0px !important
    padding: 0px 15px 0px 10px !important
    background: none !important
  
.stepper-buttons
  z-index: 100000
  position: fixed
  top: 15px
  right: 30px
  &>button
    background: none !important
    &:focus, &:hover, &::selection, &:active
      background: none !important
      color: none !important
    &:disabled
      &>img
        background: gray !important
    &:hover
      background: none 
    &>img
      filter: invert(0)
      border-radius: 20px
      height: 50px
      padding: 10px
      width: 50px
      background: $themeColor2

@import 'mess.sass'
@import 'preparedStyles.sass'
@import 'media.sass'