@import 'themes/aqua.sass'
// @import 'themes/coral.sass'
// @import 'themes/magic.sass'

body
  padding: 0px
  margin: 0px
  background: $gray1
  color: #fff
  font:
    family: monospace
    size: 13pt

input, select, button
  border: 1px solid $gray1
  background: $gray2


.sidebar
  border-right: 1px solid $themeDark15
  z-index: 1000
  display: flex
  flex-direction: column
  position: fixed
  justify-content: space-between
  height: 100vh
  width: 200px
  background: $gray3
  .sidebar-buttons
    font-size: 14pt
    display: flex
    flex-direction: column
    text-align: left
    .sidebar-button
      border-right: 2px solid #00000000
      border-bottom: 1px #00000000 solid
      transition: 200ms
      padding: 20px 10px 20px 10px

.content
  top: 83px
  right: 0px
  left: 200px
  padding: 0px
  position: absolute
.top
  top: 42px
  left: 0px
.content-title
  z-index: 1001
  &::first-letter
    color: $themeDark

.login-content
  z-index: 1003
  display: flex
  justify-content: center
  align-items: center
  background: $gray1
  position: fixed
  width: 100%
  text-align: center
  height: 100vh
  form
    display: flex
    margin: 20px
  input, button
    transition: 200ms
    text-align: center
    margin: 0px 0px 10px 0px
    box-sizing: border-box
    border-radius: 0px 10px 10px 0px
    outline: 0px
    border: none
    background: $gray3
    color: #fff
    padding: 10px
    &:hover
      background: #303030
    &:disabled
      color: #fff !important
  button
    border-radius: 10px
  .input-placeholder
    border-radius: 10px 0px 0px 10px
    text-align: left
    background: $themeDark3
  .label
    display: block
    position: relative
    text-align: left
  .status
    border-radius: 10px !important
    text-align: center

.nav, .nav2
  overflow-x: auto
  z-index: 1002
  position: fixed
  left: 200px
  top: 40px
  background: $gray3
  right: 0px
  height: auto
  display: flex
  align-items: center
  .nav-page, .nav-page2
    min-width: max-content
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    border-bottom: 1px #00000000 solid
    padding: 10px 20px 10px 20px
    background: $gray3
    &:hover
      background: $themeDark15

.nav2
  background: $gray2
  top: 83px
  .nav-page2
    background: $gray2
    padding: 10px 10px 10px 10px
    
table
  table-layout: auto
  width: 100%
  background: $gray15
  text-align: left
  border-spacing: 0px
  thead
    background: $gray3
  th
    padding: 10px
  td
    padding: 10px
    border-right: 1px solid $themeDark15
    &>a
      font-weight: 600
      transition: 200ms
      &:hover
        color: $themeDark
  .actions
    background: $action !important
    border-right: none
    & .ico
      cursor: pointer
    &>a
      font-weight: 900
      transition: 200ms
      &:hover
        color: $themeDark2
    
.bubble
  margin: 15px
  padding: 5px
  background: $gray15
  border-radius: 15px

@import 'mess.sass'
@import 'preparedStyles.sass'
@import 'media.sass'